.register-card {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);

    padding: var(--space-lg);

    background: var(--color-white);
    border-radius: 10px;
}

.register-card-header {
    display: flex;
    align-items: center;
    gap: var(--space-sm);

    margin-bottom: var(--space-xs);
}