.navigation {

    display: flex;
    flex-direction: column;

    padding: 12px;

    width: 100%;

    height: fit-content;

    background: white;

    border-radius: 10px;

    margin-bottom: 20px;

}