.profile-item {

    display: flex;
    align-items: center;

    gap: 12px;

    height: 45px;
    width: 100%;

    padding: 0 16px;

    border-radius: 10px;

    background-color: rgb(var(--profile-color), 0.4);

    cursor: pointer;

    transition: all 0.15s ease;
}

/* HOVER Y ACTIVO */

.profile-item:hover,
.profile-item.active {

    background: rgb(var(--profile-color));

}

/* TEXTO BLANCO EN HOVER */

.profile-item:hover .text,
.profile-item.active .text {

    color: white;

}

.profile-item:hover .profile-avatar,
.profile-item.active .profile-avatar {

    border-color: white;
    color: white;

}