.profiles-panel {


    background: white;
    border-radius: 10px;
    padding: 24px;

}

.profiles-list {

    display: flex;
    flex-direction: column;

    gap: 8px;

    margin-top: 16px;
    margin-bottom: 16px;

}