/* AVATAR */

.profile-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(var(--profile-color));
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
}