.btn {

    width: 100%;

    margin: 6px 0;

    padding: 10px 16px;

    border: none;

    border-radius: 10px;

    cursor: pointer;

    font-family: var(--font-primary);

    font-size: 16px;

    font-weight: 500;

    color: var(--color-white);

}

.btn-balance {

    background: var(--color-balance);
    color: var(--color-white);

}

.btn-income {

    background: var(--color-income);
    color: var(--color-white);

}

.btn-expense {

    background: var(--color-expense);
    color: var(--color-white);

}

.btn-debt {

    background: var(--color-savings);
    color: var(--color-white);

}

.btn-savings {

    background: var(--color-savings);
    color: var(--color-white);

}

.btn-base {

    background: var(--color-white);
    color: var(--color-title);

}