/* Contenedor principal */
.form {
    margin: 16px;
    padding: 16px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* 🔥 Grid de 2 columnas */
.fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    /* espacio entre columnas y filas */
}


.field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* 🔥 IMPORTANTE */
.field .text {
    margin: 0;
}

.field .input {
    margin: 0;
}

/* Botones */
.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.form-income {
    background: var(--color-income-claro);
}

.form-expense {
    background: var(--color-expense-claro);
}

.form-debt {
    background: var(--color-debt-claro);
}

.form-savings {
    background: var(--color-savings-claro);
}