/* CONTENEDOR */
.icon-container {
    position: relative;
    width: 50px;
    height: 50px;
}

/* BASE COMPARTIDA */
.icon-bg {
    position: absolute;
    inset: 0;
    border-radius: 10px;
}

/* COLORES */
.icon-bg-income {
    background: var(--color-income-claro);
}

.icon-bg-balance {
    background: var(--color-balance-claro);
}

.icon-bg-expense {
    background: var(--color-expense-claro);
}

.icon-bg-debt {
    background: var(--color-debt-claro);
}

.icon-bg-savings {
    background: var(--color-savings-claro);
}

/* ICONO ENCIMA */
.icon-container .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;
}